.help {
    h2 {
        color: var(--text-alt);
    }

    p {
        margin-bottom: 25px;
    }

    .word {
        margin-bottom: 10px;
    }
}

.help-alt-button {
    color: var(--text-weaker);
    font-size: 80%;
}
