.affix {
    position: relative;
    display: inline-block;
    padding: 0;
    padding-left: 0.6em;
    padding-right: 0em; // letterspacing adds space after
    letter-spacing: 0.6em;
    text-transform: uppercase;
    vertical-align: middle;
    min-width: min(42px, 7vw);
    opacity: 1;
    transition: all 0.2s ease-in-out;

    &.letter {
        max-width:  min(42px, 7vw);
        padding: 0;
        letter-spacing: 0;
    }

    height: min(42px, 7vw);
    line-height: min(42px, 7vw);

    margin: 0 2px;
    font-size: min(24px, 5vw);
    border-radius: 21px;

    &.start {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.end {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    font-weight: 600;
    
    color: black;
    border: 1px solid #cacaca;
    background-color: white;

    &.correct {
        color: white;
        background-color: #4fb061;
        border-color: #4fb061;
    }

    &.incorrect {
        color: white;
        background-color: #959b9d;
        border-color: #959b9d;
    }

    &.position {
        color: white;
        background-color: #e8b838;
        border-color: #e8b838;
    }
}

.words.zoom-out {
    .affix {
        min-width: min(28px, 5vw);
        height: min(28px, 5vw);
        line-height: min(28px, 5vw);
        font-size: min(18px, 3vw);

        &.letter {
            max-width: min(28px, 5vw);
            padding: 0;
            letter-spacing: 0;
        }
    }
}
