.words {
    position: relative;

    .icon-focus {
        position: absolute;
        top: -20px;
        right: 0px;
        z-index: 1;
        width: 24px;
        height: 24px;
        fill: #cacaca;
        border-radius: 50px;
        background-color: rgba(white, 0.8);
        box-shadow: 0 0 5px rgba(white, 0.5);
        z-index: 1;

        &:hover ~ .word .incorrect {
            opacity: 0.2;
        }
    }

    .status {
        color: #959b9d;
        text-transform: none;
        margin: 0;
        min-height: 30px;

        > * {
            display: inline-block;
            vertical-align: middle;
        }

        &.processing {
            svg {
                width: 24px;
                height: 24px;
                margin-right: 5px;
                animation: spin infinite linear reverse 1s;
                fill: #4fb061;            
            }
        }

        small {
            font-size: 80%;
        }
    }
}

.word {
    display: flex;
    justify-content: center;
    height: 42px;
    margin: 0;
    margin-bottom: 16px;
    transition: all 0.2s ease-in-out;
}

.words.narrow {
    .word {
        height: 28px;
        margin-bottom: 8px;
    }
}

.words.shorter {
    .word {
        margin-bottom: 8px;
    }
}