.words {
    .word-tip,
    .status-tip {
        color: var(--text-alt);
        letter-spacing: 0.03em;
    }

    .word-tip {
        font-size: 70%;
        margin-bottom: 15px;

        strong {
            color: var(--red);
        }

        &.has-polish strong {
            color: var(--green);
        }
    }

    .status-tip {
        font-size: 60%;
        margin: 20px 0 10px;
        min-height: 30px;
        opacity: 0.5;

        .contrast & {
            opacity: 1;
        }

        > * {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 5px;
        }

        strong {
            color: var(--text);
            letter-spacing: 0.05em;
        }

        &.isIncorrect {
            strong {
                color: var(--red);
            }
        }

        &.isProcessing {
            svg {
                width: 24px;
                height: 24px;
                margin-right: 5px;
                animation: spin infinite linear reverse 1s;
                fill: var(--green);            
            }
        }
    }
}

.word {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 16px;
    transition: all 0.2s ease-in-out;

    > * {
        flex-shrink: 0;
    }
}

.words.narrow {
    .word {
        margin-bottom: 8px;
    }
}

.words.shorter {
    .word {
        margin-bottom: 12px;
    }
}

.word.isExtraLong {
    transform: scale(0.8);
}