.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    height: 42px;
    line-height: 38px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-decoration: none;
    fill: currentColor;
    color: var(--blue-contrast);
    background-color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 6px;
    transition: all 0.3s;

    > * {
        filter: blur(0);
        transition: all 0.3s;
    }

    span {
        white-space: nowrap;
    }

    svg {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;

        &:first-child:not(:last-child) {
            margin-right: 12px;
        }
    }

    &:hover {
        background-color: var(--blue-stronger);
        border-color: var(--blue-stronger);
    }

    .button-loader {
        position: absolute;
        left: calc(50% - 10px);
        top: calc(50% - 10px);
        z-index: 1;
        animation: spin infinite linear reverse 1s;
    }

    &.large {
        padding: 0 16px;
        height: 52px;
        line-height: 46px;
        font-size: 22px;

        svg {
            width: 26px;
            height: 26px;
        }

        .button-loader {
            position: absolute;
            left: calc(50% - 10px);
            top: calc(50% - 10px);
        }
    }

    &.loading {
        background-color: var(--blue-stronger);
        border-color: var(--blue-stronger);

        > * {
            opacity: 0.3;
            filter: blur(2px);
        }

        .button-loader {
            opacity: 1;
            filter: blur(0);
        }
    }

    &.inverted {
        color: var(--blue-on-background);
        border-color: var(--blue);
        background-color: transparent;

        &:loading,
        &:hover {
            color: var(--blue-stronger);
            border-color: var(--blue);
            background-color: transparent;
        }
    }

    &.text {
        color: var(--text-weaker);
        border-color: var(--text-weaker);

        &:hover {
            color: var(--text);
            border-color: var(--text);
        }
    }

    &.no-border,
    &.inverted.no-border,
    &.text.no-border {
        &,
        &:hover,
        &:focus,
        &:active {
            border-color: transparent;
            outline: none !important;
        }
    }
}

.buttons-connected {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-flow: row nowrap;

    .button:first-child:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .button:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 2px;
    }

    .button.inverted:last-child:not(:first-child) {
        margin-left: -2px;
    }
}
