.settings,
.statistics {
    ul {
        li {
            .setting {
                &.setting-confirm-timer {
                    &,
                    &:hover {
                        color: var(--text);
                        fill: var(--text);

                        svg + span {    
                            strong {
                                color: var(--text);
                            }
                        }
                    }

                    .setting-confirm {
                        color: var(--text);
                    }
                }

                &.setting-confirm-allowed {
                    &,
                    &:hover {
                        color: var(--text);
                        fill: var(--text);

                        svg + span {    
                            strong {
                                color: var(--text);
                            }
                        }
                    }

                    .setting-confirm {
                        color: var(--red-weaker);
                    }
                }

                .setting-confirm {
                    position: absolute;
                    bottom: 5px;
                    left: 50%;
                    width: calc(100% - 10px);
                    transform: translateX(-50%);
                    margin: 0;
                    font-size: 10px;
                    font-weight: bold;
                }
            }
        }
    }
}
