.button-tile {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: var(--text-weaker);
  fill: currentColor;
  width: 100%;
  height: 150px;
  text-decoration: none;
  background-color: transparent;
  padding: 5px 10px;
  border: 1px dashed var(--border);
  border-radius: 6px;
  outline-offset: 3px;
  transition: all 0.3s ease-in;

  svg {
      display: block;
      margin: 0 auto 5px;
      width: 48px;
      height: 48px;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  svg + span {
      display: block;
      line-height: 1.1;
      min-height: 30px;

      strong {
          color: var(--text);
          transition: all 0.3s ease-in;
      }
  }

  &:hover {
      color: var(--text);
  }

  &:focus {
      outline: 3px solid var(--blue-on-background);
  }

  &:disabled {
      > svg,
      > svg + span {
          opacity: 0.3;
      }
  }

  position: relative;

  .button-tile-title-small {
      font-size: 80%;
  }

  .button-tile-unlock {
      position: absolute;
      bottom: 3px;
      right: 3px;
      left: 3px;
      padding: 5px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      font-size: 12px;
      line-height: 1.2;
      color: white;
      background-color: rgba(#c13838, 0.9);
  }

  .button-tile-label {
      position: absolute;
      bottom: -8px;
      right: -8px;
      display: flex;
      align-items: center;

      &,
      span,
      svg .icon-inside {
          transition: all 0.3s ease-in;
      }

      span {
          padding: 0;
          font-weight: bold;
          font-size: 12px;
          border-radius: 3px;
          margin-right: 5px;
          white-space: nowrap;
      }

      svg {
          width: 36px;
          height: 36px;
          fill: currentColor;
          background-color: var(--background);
          border-radius: 25%;
          margin: 0;
      }

      &.construction {
          svg {
              border-radius: 50%;
          }
      }

      &.correct {
          span {
              color: var(--text);
          }

          svg {
              color: var(--green);

              .icon-inside {
                  fill: var(--green-contrast);
              }
          }
      }

      &.position {
          span,
          svg {
              color: var(--orange);
          }
      }

      &.construction {
          svg {
              background-color: transparent;

              .icon-inside {
                  fill: var(--orange-contrast);
              }
          }
      }

      &.incorrect {
          span,
          svg {
              color: var(--incorrect-red-contrast);
          }
      }
  }

  &.button-tile-confirm-timer {
  &,
  &:hover {
        color: var(--text);
        fill: var(--text);

        svg + span {    
            strong {
                color: var(--text);
            }
        }
    }

    .button-tile-confirm {
        color: var(--text);
    }
  }

  &.button-tile-confirm-allowed {
      &,
      &:hover {
          color: var(--text);
          fill: var(--text);

          svg + span {    
              strong {
                  color: var(--text);
              }
          }
      }

      .button-tile-confirm {
          color: var(--red-weaker);
      }
  }

  .button-tile-confirm {
      position: absolute;
      bottom: 5px;
      left: 50%;
      width: calc(100% - 10px);
      transform: translateX(-50%);
      margin: 0;
      font-size: 10px;
      font-weight: bold;
  }
}

.button-tile-inverse {
  color: var(--background);
  background-color: var(--text);
  border: none;

  svg + span {
      display: block;
      line-height: 1.1;
      min-height: 30px;

      strong {
          color: var(--background);
          transition: all 0.3s ease-in;
      }
  }

  &:hover {
      color: var(--background);
  }

  .button-tile-label {
      svg {
          background-color: transparent;

          .icon-inside {
              fill: var(--orange-contrast);
          }
      }
  }
}

.contrast .button-tile-active--contrast,
.button-tile-active {
  &,
  &:hover {
      color: var(--green-contrast);
      fill: var(--green-contrast);
      background-color: var(--green);
      border-color: var(--green);
  }

  &:disabled {
    > svg,
    > svg + span {
        opacity: 1;
    }

    &:hover {
        opacity: 0.6;
    }
  }

  svg + span {    
      strong {
          color: var(--green-contrast);
      }
  }

  .button-tile-label {
        svg {
            background-color: transparent;
        }

        &.correct {
            span,
            svg {
                color: var(--green-contrast);
            }

            svg {
                filter: drop-shadow(0 0 5px var(--green));

                .icon-inside {
                    fill: var(--green);
                }
            }
        }

        &.position {
            span,
            svg {
                color: var(--green-contrast);
            }

            svg {
                filter: drop-shadow(0 0 5px var(--green));
            }
        }

        &.construction {
            svg {
                .icon-inside {
                    fill: var(--orange);
                }
            }
        }

        &.incorrect {
            span,
            svg {
                color: var(--green-contrast);
            }

            svg {
                filter: drop-shadow(0 0 5px var(--green));
            }
        }
  }
}
