:root {
    --heatmap-key-size: 40px;
}

.heatmap-keyboard-cap {
    display: inline-block;
    height: var(--heatmap-key-size);
    min-width: min(var(--heatmap-key-size), 8vw);
    line-height: var(--heatmap-key-size);
    text-transform: uppercase;
    color: var(--text);
    cursor: help;
    border: 2px solid color-mix(in srgb, var(--text) 5%, transparent);
    border-radius: 6px;
    font-weight: 600;

    position: relative;

    .heatmap-keyboard-cap-content {
        position: relative;
        z-index: 1;
    }

    .circle-scale {
        width: 250%;
    }
}