.statistics-card {
    color: black;
    fill: currentColor;
    width: 100%;
    margin: 0 auto;
    padding: 230px 10px 50px;
    border: 2px solid var(--green);
    border-radius: 24px;
    background-color: var(--green);
    position: relative;
    z-index: 0;
    overflow: hidden;

    .statistics-card-icon {
        position: absolute;
        bottom: -50px;
        right: -50px;
        width: 200px;
        height: 200px;
        fill: white;
        opacity: 0.5;
    }

    p {
        z-index: 2;

        > span {
            position: relative;
            z-index: 1;
        }
    }

    strong {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: black;
        margin: 0 0.25em;
    }

    .statistics-letters {
        position: absolute;
        top: 24px;
        left: 20px;
        z-index: 3;
        cursor: help;

        strong {
            font-size: 48px;
            position: relative;

            .circle-scale {
                width: 550%;
            }
        }
    }

    .statistics-words {
        position: absolute;
        top: 80px;
        right: 20px;
        cursor: help;

        strong {
            font-size: 36px;

            .circle-scale {
                width: 700%;
            }
        }
    }

    .statistics-text {
        position: relative;
        z-index: 5;
        margin-bottom: 45px;
        color: var(--green-contrast);
        text-shadow:
            0 -4px 20px var(--green),
            0 -4px 10px var(--green),
            0 0 5px var(--green),
            0 0 5px var(--green),
            0 0 5px var(--green);

        p {
            margin-bottom: 6px;
            
            strong {
                font-size: 120%;
                text-shadow: 0 0 12px var(--green-contrast);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .statistics-letters-types {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 10px;

        & > span {
            font-weight: 600;
            letter-spacing: 0.05em;
            color: var(--text);

            > * {
                vertical-align: middle;
            }

            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 2px solid rgba(black, 0.2);
            }
            
            &.correct::before {
                background-color: var(--green);
            }

            &.position::before {
                background-color: var(--orange);
            }

            &.incorrect::before {
                background-color: var(--incorrect);
            }

            &.incorrect.typed::before {
                background-color: var(--incorrect-red-contrast);
            }

            .circle-scale {
                width: 90px;
            }
        }
    }

    .statistics-other {
        display: flex;
        margin-top: 70px;
        gap: 12px;
        align-items: flex-start;
        justify-content: space-evenly;
        text-align: center;
        color: var(--green-contrast);
        text-shadow:
            0 0 20px var(--green),
            0 0 10px var(--green),
            0 0 5px var(--green),
            0 0 5px var(--green),
            0 0 5px var(--green);

        > p {
            font-size: 12px;
            width: 20%;
        }

        strong {
            text-shadow: 0 0 20px var(--green-contrast);
            font-size: 50px;
            line-height: 1;
            display: block;
            margin: 0 auto 1px;
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 6;
        backdrop-filter: blur(4px);
        background-color: var(--green-stronger);
        background-color: color-mix(in srgb, var(--green-stronger) 20%, transparent);;
        width: 100%;
        padding: 10px 20px;
        color: var(--green-contrast);
        text-shadow:
            0 0 20px var(--green),
            0 0 10px var(--green),
            0 0 5px var(--green),
            0 0 5px var(--green),
            0 0 5px var(--green);
        text-align: left;
        font-size: 14px;
        font-weight: 600;
    }
}