@mixin hoverOnDesktopActiveOnMobile {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

@mixin tooltip {
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.05em;
    padding: 4px 8px;
    text-transform: none;
    border-radius: 3px;
    color: var(--toast-text);
    background-color: var(--toast-bacground);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0 1px 3px rgba(black, 0.2);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
