.year-summary-header {
  fill: currentColor;
  width: 100%;
  margin: 0 auto;
  padding: 10px 50px;
  border-radius: 8px;
  color: var(--green-contrast);
  background-color: var(--green);
  position: relative;
  overflow: hidden;
  box-shadow: inset 2px 2px 10px
    color-mix(in srgb, var(--green) 50%, transparent);

  .year-summary-header-icon {
    position: absolute;
    bottom: -10px;
    right: 10px;
    width: 120px;
    height: 120px;
    fill: white;
    opacity: 0.5;
  }
}
