.settings,
.statistics {
    h2 {
        margin-top: 30px;
    }

    p {
        margin-bottom: 25px;
    }

    ul {
        display: grid;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        gap: min(20px, 3vw);
        grid-template-columns: 1fr 1fr;
        margin-bottom: 15px;

        &.list-col-3 {
            grid-template-columns: 1fr 1fr 1fr;

            @media (max-width: 360px) {
                grid-template-columns: 1fr 1fr;
            }
        }

        li {
            flex-basis: 100%;
        }
    }

    > footer {
        padding-top: 20px;
        margin-top: 40px;
        padding-bottom: 20px;
        font-size: 12px;
        border-top: 1px dashed var(--border);
    }
}

.setting-icon-with-streak {
    position: relative;

    .setting-streak {
        display: inline-flex;
        align-items: center;
        position: absolute;
        bottom: -10px;
        right: -15px;
        color: var(--green);
        font-weight: 700;
        filter: drop-shadow(0 0 5px var(--background)) drop-shadow(0 0 5px var(--background)) drop-shadow(0 0 5px var(--background));

        svg {
            height: 20px;
            width: 20px;
            margin-left: 5px;
            fill: currentColor;
        }
    }

    button:hover & {
        .setting-streak {
            color: var(--green-stronge);
        }
    }
}
