.settings {
    p {
        margin-bottom: 25px;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 15px;

        li {
            flex-basis: 100%;

            button {
                color: #878a8c;
                fill: #878a8c;
                width: 100%;
                height: 150px;
                background-color: transparent;
                border: 1px solid rgba(black, 0.2);
                border-radius: 6px;
                transition: all 0.3s ease-in;

                svg {
                    display: block;
                    margin: 0 auto 5px;
                    width: 48px;
                    height: 48px;
                    margin-bottom: 10px;
                }

                &:hover {
                    fill: black;
                    color: black;
                }

                &:disabled {
                    opacity: 0.3;
                }
            }

            .setting-active {
                &,
                &:hover {
                    color: white;
                    fill: white;
                    background-color: #4fb061;
                    border-color: #4fb061;
                }
            }
        }
    }

    > footer {
        margin-top: 40px;
        padding-bottom: 20px;
        font-size: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.65);
                    
        a {
            color: #275fb3;
            letter-spacing: 0.05em;
            transition: all 0.3s;

            &:hover {
                color: #275fb3;
            }
        }

        ul {
            display: block;

            li {
                margin-bottom: 8px;
            }
        }
    }
}
