.settings,
.statistics {
    h2 {
        margin-top: 30px;
    }

    p {
        margin-bottom: 25px;
    }

    ul {
        display: grid;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        gap: min(20px, 3vw);
        grid-template-columns: 1fr 1fr;
        margin-bottom: 15px;

        &.list-col-3 {
            grid-template-columns: 1fr 1fr 1fr;

            @media (max-width: 360px) {
                grid-template-columns: 1fr 1fr;
            }
        }

        li {
            flex-basis: 100%;

            a,
            button {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                color: var(--text-weaker);
                fill: currentColor;
                width: 100%;
                height: 150px;
                text-decoration: none;
                background-color: transparent;
                padding: 5px 10px;
                border: 1px dashed var(--border);
                border-radius: 6px;
                outline-offset: 3px;
                transition: all 0.3s ease-in;

                svg {
                    display: block;
                    margin: 0 auto 5px;
                    width: 48px;
                    height: 48px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                svg + span {
                    display: block;
                    line-height: 1.1;
                    min-height: 30px;

                    strong {
                        color: var(--text);
                        transition: all 0.3s ease-in;
                    }
                }

                &:hover {
                    color: var(--text);
                }

                &:focus {
                    outline: 3px solid var(--blue-on-background);
                }

                &:disabled {
                    > svg,
                    > svg + span {
                        opacity: 0.3;
                    }
                }
            }

            .setting {
                position: relative;

                .setting-title-small {
                    font-size: 80%;
                }

                .setting-unlock {
                    position: absolute;
                    bottom: 3px;
                    right: 3px;
                    left: 3px;
                    padding: 5px;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    font-size: 12px;
                    line-height: 1.2;
                    color: white;
                    background-color: rgba(#c13838, 0.9);
                }

                .setting-label {
                    position: absolute;
                    bottom: -8px;
                    right: -8px;
                    display: flex;
                    align-items: center;

                    &,
                    span,
                    svg .icon-inside {
                        transition: all 0.3s ease-in;
                    }

                    span {
                        padding: 0;
                        font-weight: bold;
                        font-size: 12px;
                        border-radius: 3px;
                        margin-right: 5px;
                        white-space: nowrap;
                    }

                    svg {
                        width: 36px;
                        height: 36px;
                        fill: currentColor;
                        background-color: var(--background);
                        border-radius: 25%;
                        margin: 0;
                    }

                    &.construction {
                        svg {
                            border-radius: 50%;
                        }
                    }

                    &.correct {
                        span {
                            color: var(--text);
                        }

                        svg {
                            color: var(--green);

                            .icon-inside {
                                fill: var(--green-contrast);
                            }
                        }
                    }

                    &.position {
                        span,
                        svg {
                            color: var(--orange);
                        }
                    }

                    &.construction {
                        svg {
                            background-color: transparent;

                            .icon-inside {
                                fill: var(--orange-contrast);
                            }
                        }
                    }

                    &.incorrect {
                        span,
                        svg {
                            color: var(--incorrect-red-contrast);
                        }
                    }
                }
            }

            .setting-inverse {
                color: var(--background);
                background-color: var(--text);
                border: none;

                svg + span {
                    display: block;
                    line-height: 1.1;
                    min-height: 30px;

                    strong {
                        color: var(--background);
                        transition: all 0.3s ease-in;
                    }
                }

                &:hover {
                    color: var(--background);
                }

                .setting-label {
                    svg {
                        background-color: transparent;

                        .icon-inside {
                            fill: var(--orange-contrast);
                        }
                    }
                }
            }

            .contrast & .setting-active--contrast,
            .setting-active {
                &,
                &:hover {
                    color: var(--green-contrast);
                    fill: var(--green-contrast);
                    background-color: var(--green);
                    border-color: var(--green);
                }

                svg + span {    
                    strong {
                        color: var(--green-contrast);
                    }
                }

                .setting-label {
                    svg {
                        background-color: transparent;
                    }

                    &.correct {
                        span,
                        svg {
                            color: var(--green-contrast);
                        }

                        svg {
                            filter: drop-shadow(0 0 5px var(--green));

                            .icon-inside {
                                fill: var(--green);
                            }
                        }
                    }

                    &.position {
                        span,
                        svg {
                            color: var(--green-contrast);
                        }

                        svg {
                            filter: drop-shadow(0 0 5px var(--green));
                        }
                    }

                    &.construction {
                        svg {
                            .icon-inside {
                                fill: var(--orange);
                            }
                        }
                    }

                    &.incorrect {
                        span,
                        svg {
                            color: var(--green-contrast);
                        }

                        svg {
                            filter: drop-shadow(0 0 5px var(--green));
                        }
                    }
                }
            }
        }
    }

    > footer {
        padding-top: 20px;
        margin-top: 40px;
        padding-bottom: 20px;
        font-size: 12px;
        border-top: 1px dashed var(--border);
    }
}

.setting-icon-with-streak {
    position: relative;

    .setting-streak {
        display: inline-flex;
        align-items: center;
        position: absolute;
        bottom: -10px;
        right: -15px;
        color: var(--green);
        font-weight: 700;
        filter: drop-shadow(0 0 5px var(--background)) drop-shadow(0 0 5px var(--background)) drop-shadow(0 0 5px var(--background));

        svg {
            height: 20px;
            width: 20px;
            margin-left: 5px;
            fill: currentColor;
        }
    }

    button:hover & {
        .setting-streak {
            color: var(--green-stronge);
        }
    }
}
