/*
  https://all-free-download.com/font/download/egyptian_hieroglyphs_silhouette_6906905.html
  Author: Lene Kristiansen
*/

@font-face {
  font-display: swap;
  font-family: "PrimaAprimaFont";
  font-style: normal;
  font-weight: 400;
  src: url("./EgyptianHieroglyphsSilhouet.woff2") format("woff2");
}

/*
  https://github.com/adobe-fonts/adobe-blank
*/

@font-face {
  font-display: swap;
  font-family: "Adobe Blank";
  font-style: normal;
  font-weight: 400;
  src: url("./AdobeBlank.woff2") format("woff2");
}

body[data-prima-aprilis="egypt"] {
  .header-title,
  .game {
    animation: fakeHieroglyphs 0.5s ease-in-out forwards;
  }

  .key > span:first-child {
    transform: scale(1.5);
    animation: fakeHieroglyphsKey 0.5s ease-in-out forwards;
  }
}

@keyframes fakeHieroglyphs {
  0% {
    font-family: "PrimaAprimaFont", "Adobe Blank", "Baloo 2", sans-serif;
  }

  20% {
    font-family: inherit;
  }

  45% {
    font-family: "PrimaAprimaFont", "Adobe Blank", "Baloo 2", sans-serif;
  }

  75% {
    font-family: inherit;
  }

  100% {
    font-family: "PrimaAprimaFont", "Adobe Blank", "Baloo 2", sans-serif;
  }
}

@keyframes fakeHieroglyphsKey {
  0% {
    scale: 1.2;
  }

  20% {
    scale: 1;
  }

  45% {
    scale: 1.5;
  }

  75% {
    scale: 1;
  }

  100% {
    scale: 1.2;
  }
}
