.header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(500px, 100%);
    z-index: 2;
    height: 50px;
    line-height: 50px;
    background-color: var(--background-transparent);
    backdrop-filter: blur(6px) saturate(1.2) hue-rotate(-15deg);
    border-bottom: 1px solid var(--border);
    box-shadow: 0 7px 15px var(--background-transparent);
    margin-bottom: 20px;

    &-left,
    &-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        button {
            width: 30px;
        }
    }

    &-left {
        left: 7px;
    }

    &-right {
        right: 7px;
    }

    h1 {
        margin-bottom: 0;
    }

    h1 button {
        position: relative;
        font-size: 32px;
        line-height: 56px;
        height: 50px;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 0 0px 10px var(--background);

        svg {
            position: absolute;
            left: 50%;
            top: 2px;
            transform: translateX(-55%);
            fill: currentColor;
            height: 0.4em;
            fill: var(--green-stronger);
        }

        .header-flag {
            position: absolute;
            content: '';
            height: 18px;
            width: 18px;
            top: calc(50% - 9px);
            right: -20px;
            border-radius: 20px;
            filter: saturate(0.6);
            font-size: 0;
            color: transparent;
            object-fit: cover;
            object-position: center;
            transform-origin: center center;
            box-shadow: 0 -1px 4px var(--flag-shadow);
        }

        .header-flag--animation {
            animation: scaleInFlag 0.5s ease-in;
        }
    }

    button {
        position: relative;
        display: inline-flex;
        align-items: center;
        background: none;
        border: none;

        svg {
            fill: var(--text-weaker);
            width: 22px;
            height: 22px;
            transition: 0.3s all ease-in-out;
        }

        &:hover {
            svg {
                fill: var(--text);
            }
        }
    }

    .button-active {
        svg {
            fill: var(--text);
        }

        animation: scaleIn 0.5s ease-in-out;
    }
}

@keyframes scaleInFlag {
    0% {
        opacity: 0;
        transform: rotate(-95deg) translateY(-100px) scale(0);
    }

    80% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        transform: rotate(0) translateY(0) scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 0.3;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
