.about-language {
    section {
        // padding: 10px;
        margin-bottom: 50px;
    }

    // TODO: remove
    .to-do {
        list-style: circle;
        text-align: left;
        margin-top: 5px;
        padding-left: 20px;

        li {
            margin-bottom: 10px;
        }
    }
}
