.about-language {
  .about-language-wordle-best-word {
    display: inline-flex;
    gap: 8px;
    text-transform: uppercase;
    margin-bottom: 24px;
    transform: scale(1.5);

    .about-language-small-key-cap {
      color: var(--text);
    }
  }

  .about-language-wordle-best-word-explanation,
  .about-language-wordle-best-word-statistics {
    color: var(--text-weaker);
    font-size: 12px;
    letter-spacing: 0.03em;

    strong {
      color: var(--text);
    }
  }

  .about-language-wordle-best-word-statistics {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 14px;
    margin: 4px 0 20px;
    color: var(--text);

    > span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: help;
      font-weight: 600;

      &::before {
        display: inline-block;
        content: '';
        border-radius: 2px;
        width: 12px;
        height: 12px;
        line-height: 12px;
        margin-right: 5px;
      }

      > span {
        display: inline-block;
        vertical-align: middle;
        margin-top: 1px;
      }

      &.about-language-wordle-best-word--correct::before {
        background-color: var(--green);
      }

      &.about-language-wordle-best-word--position::before {
        background-color: var(--orange);
      }

      &.about-language-wordle-best-word--incorrect::before {
        background-color: var(--incorrect);
      }
    }
  }

  .about-language-wordle-explanation {
    font-size: 14px;
    margin-bottom: 24px;

    p {
      margin-bottom: 12px;
    }
  }

  .about-language-wordle-positions-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    text-align: center;
    margin: 20px auto 40px;

    li {
      display: flex;
      flex-flow: column;
      gap: 8px;
      position: relative;

      > strong {
        color: var(--text-alt);
      }
    }

    .about-language-small-key-cap {
      color: var(--text-weaker);
      cursor: help;
    }

    .about-language-wordle-positions-active-letter {
      color: var(--text);
      border-color: var(--text);
    }
  }

  .about-language-words-list {
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;

      .about-language-wordle-word {
        display: inline-flex;
        gap: 6px;
        margin-right: 6px;

        @media (min-width: 350px) {
          gap: 8px;
          margin-right: 8px;
        }

        .about-language-wordle-letter-active {
          color: var(--text);
          border-color: var(--text);
        }
      }

      .about-language-small-key-cap {
        color: var(--text-weaker);
      }
    }
  }
}

.about-language-wordle {
  h5 {
    color: var(--text-alt);
    font-size: 14px;
    margin-top: 30px;

    &::after {
      content: ':';
    }
  }

  .details-content {
    padding-bottom: 30px;
  }
}

.about-language-wordle-word-title {
  color: var(--text-weaker);

  &::after {
    content: ':';
  }
}

.about-language-word-value {
  display: inline-flex;
  align-items: center;
  margin: 0 5px;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  span {
    color: var(--text);
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.03em;

    @media (min-width: 350px) {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.08em;
    }
  }

  &.about-language-word-value--correct::before {
    background-color: var(--green);
  }

  &.about-language-word-value--position::before {
    background-color: var(--orange);
  }

  // &.about-language-word-value--incorrect::before {
  //   background-color: var(--untyped);
  // }
}

.about-language-word-value-total {
  color: var(--text);
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.03em;
  font-weight: 600;
  margin-left: 5px;

  @media (min-width: 350px) {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.08em;
  }
}

.about-language-wordle-footer {
  font-size: 12px;
  color: var(--text-weaker);

  span, a {
    color: var(--text);
    text-decoration: none;
    font-weight: 600;
  }
}