.key {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 4px;
    border: none;
    color: black;
    background-color: #eee;
    border: 2px solid #eee;
    min-width: 8%;
    font-weight: 600;
    text-transform: uppercase;
    height: 50px;
    font-size: 14px;
    line-height: 50px;

    transition: all 0.3s ease-in-out;

    &.typed {
        color: black;
        background-color: white;
        border-color: #4fb061;
    }

    &.incorrect {
        color: white;
        background-color: #959b9d;
        border-color: #959b9d;

        &.typed {
            border-color: #8f2513;
        }
    }

    &.correct {
        color: white;
        background-color: #4fb061;
        border-color: #4fb061;

        &.typed {
            border-color: #1c732d;
        }
    }

    &.position {
        color: white;
        background-color: #e8b838;
        border-color: #e8b838;

        &.typed {
            border-color: #a47e18;
        }
    }

    &-backspace {
        svg {
            width: 26px;
            height: 26px;
        }

        &:hover {
            fill: #7e1717;
        }
    }

    &-enter {
        &:hover {
            color: #1c732d;
        }
    }
}
