.key {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 min(13px, 3vw);;
    border-radius: 6px;
    border: none;
    fill: currentColor;
    color: var(--untyped-contrast);
    background-color: var(--untyped);
    border: 2px solid var(--untyped);
    min-width: 8%;
    font-weight: 600;
    text-transform: uppercase;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    transition: all 0.5s ease-in-out;

    .keyboard.isSmall & {
        height: 40px;
        line-height: 40px;
        list-style: 40px;
    }

    &.typed {
        color: var(--typed);
        background-color: var(--typed-contrast);
        border-color: var(--green);
    }

    &.incorrect {
        color: var(--incorrect-contrast);
        background-color: var(--incorrect);
        border-color: var(--incorrect);

        &.typed {
            color: var(--incorrect-red-contrast);
            background-color: var(--incorrect-red);
            border-color: var(--incorrect-red-contrast);
            animation: shake 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
            transform: translate(0, 0);
        }
    }

    &.incorrect-occurrence,
    &.correct {
        color: var(--green-contrast);
        background-color: var(--green);
        border-color: var(--green);

        &.typed {
            border-color: var(--green-stronger);
        }
    }

    &.incorrect-occurrence {
        &.typed {
            border-color: var(--green);
        }
    }

    &.position {
        color: var(--orange-contrast);
        background-color: var(--orange);
        border-color: var(--orange);

        &.typed {
            border-color: var(--orange-stronger);
        }
    }

    &-backspace,
    &-enter {
        padding: 0 min(6px, 1vw);
        min-width: 36px;

        @media (min-width: 400px) {
            min-width: 52px;
        }

        max-width: 7vw;
        width: 56px;
    }

    
    &-spacebar {
        min-width: 50px;

        @media (min-width: 400px) {
            min-width: 100px;
        }

        max-width: 12vw;
        width: 56px;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &-backspace,
    &-enter {
        flex-shrink: 0;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &-backspace {
        color: var(--red-contrast) !important;
        background-color: var(--red-weaker) !important;
        border-color: var(--red-weaker) !important;

        &:hover {
            background-color: var(--red) !important;
            border-color: var(--red) !important;
        }
    }

    &-spacebar {
        color: var(--untyped);
        background-color: var(--untyped-contrast);
        border-color: var(--untyped-contrast);
    }

    &-enter {
        color: var(--blue-contrast) !important;
        background-color: var(--blue-weaker) !important;
        border-color: var(--blue-weaker) !important;

        &:hover {
            background-color: var(--blue) !important;
            border-color: var(--blue) !important;
        }
    }

    position: relative;

    .key-occurance {
        position: absolute;
        bottom: 1px;
        right: 1px;
        text-transform: lowercase;
        // font-weight: 500;
        line-height: 8px;
        font-size: 8px;
        letter-spacing: 0.15em;

        @media (min-width: 400px) {
            font-size: 10px;
        }

        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease-in-out;

        > span {
            display: inline-block;
            line-height: 1;
        }

        .key-occurance-typed {
            transition: 0.2s ease-in-out;
        }

        .key-occurance-separator {
            font-size: 8px;
            line-height: 8px;
        }

        .key-occurance-known-limit {
            transition: 0.2s ease-in-out;
        }

        opacity: 0.75;

        &.key-occurance-too-many {
            opacity: 1;

            .key-occurance-typed {
                color: var(--incorrect-on-green);
            }

            .key-occurance-known-limit {
                font-size: 80%;
            }
        }
    }
}

@keyframes shake {
    2%, 18% {
        transform: translate(-1px, 0);
    }
    4%, 16% {
        transform: translate(2px, 0);
    }
    6%, 10%, 14% {
        transform: translate(-4px, 0);
    }
    8%, 12% {
        transform: translate(4px, 0);
    }
}
