.keyboard {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 100%);
    width: min(500px, 100%);
    padding: 7px;
    background-color: var(--background-transparent);
    backdrop-filter: blur(6px) saturate(1.2) hue-rotate(-15deg);
    border-top: 1px solid var(--border);
    box-shadow: 0 -7px 15px 0 var(--background-transparent);
    transition: all 0.3s ease-in-out;
    animation: slideInFromBottom 0.4s ease-out forwards;
    animation-delay: 0.25s;

    &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        height: 10px;
        opacity: 0;
        background-image: linear-gradient(to bottom, transparent, transparent);
        transition: all 0.3s ease-in-out;
    }

    .line {
        display: flex;
        justify-content: center;
        gap: min(8px, 2vw);
        margin-bottom: min(10px, 2vw);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.isSmall .line {
        gap: min(8px, 2vw);
        margin-bottom: min(5px, 2vw);
    }

    &.incorrect {
        border-color: var(--red);

        &::before {
            opacity: 0.2;
            background-image: linear-gradient(to bottom, transparent, var(--red));
        }
    }

    &.correct {
        border-color: var(--green-stronger);

        &::before {
            opacity: 0.2;
            background-image: linear-gradient(to bottom, transparent, var(--green-stronger));
        }
    }
}

@keyframes slideInFromBottom {
    0% { transform: translate(-50%, 100%); }
    100% { transform: translate(-50%, 0%); }
}
