.keyboard-confirm-actions {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 12px;
}

.keyboard-setting {
    margin-top: 10px;
    opacity: 0.5;
    transform: scale(0.7);

    &.keyboard-setting-active {
        opacity: 1;
    }
}
