.icon-animated-caret {
    top: 50%;
    display: inline-block;
    position: relative;
    top: calc(50% - 10px);
    width: 14px;
    height: 14px;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.3);
    
    &::after,
    &::before {
      content: '';
      display: inline-block;
      height: 7px;
      width: 3px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
      border-bottom: 9px solid var(--text-alt);
      box-sizing: content-box;
      transition: 0.15s ease-in-out;
    }

    &::before {
      transform: rotate(-135deg);
    }

    &::after {
      transform: rotate(135deg);
    }
}

details[open] summary .icon-animated-caret,
details.is-closing summary .icon-animated-caret,
.icon-animated-caret-open {    
    top: calc(50% - 14px);

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
}