.wrapper {
    padding: 80px 7px 0;
    width: min(500px, 100%);
    margin: 0 auto;
    text-align: center;
}

body p {
    line-height: 1.4;
}

:root {
    --text: #fcfcfc; // 252, 252, 252
    --text-alt: #dbdbdb;
    --text-weaker: rgba(252, 252, 252, 0.5);
    --background: rgba(34, 34, 34, 1);;
    --background-transparent: rgba(34, 34, 34, 0.7);
    --border: #555;

    --toast-text: black;
    --toast-bacground: rgba(255, 255, 255, 0.8);

    --flag-shadow: rgb(255, 255, 255, 0.1);

    --blue: #26c;
    --blue-weaker: #7392c1;
    --blue-contrast: white;
    --blue-on-background: white;

    --green: #4fb061;
    --green-stronger: #84ec6e;
    --green-contrast: white;
    --green-stronger-contrast: rgb(28, 82, 17);

    --orange: #b29446;
    --orange-stronger: #e0c273;
    --orange-contrast: white;

    --red: #ff3636;
    --red-weaker: #b35c5c;
    --red-contrast: white;

    --untyped: #747474;
    --untyped-contrast: #eee;

    --typed: white;
    --typed-contrast: #222;

    --incorrect: #414141;
    --incorrect-contrast: #6d6d6d;
    --incorrect-red: #551b1b;
    --incorrect-red-contrast: #ff3636;

    --stroke-contrast: #1f1f1f;
}

:root.light {
    --text: #222; // 34, 34, 34
    --text-alt: #8c8c8c;
    --text-weaker: rgba(34, 34, 34, 0.5);
    --background: rgba(252, 252, 252, 1);
    --background-transparent: rgba(252, 252, 252, 0.5);
    --border: #cacaca;

    --toast-text: white;
    --toast-bacground: rgba(0, 0, 0, 0.8);

    --flag-shadow: rgba(0, 0, 0, 0.1);

    --blue: #26c;
    --blue-stronger: #275fb3;
    --blue-weaker: #7392c1;
    --blue-contrast: white;
    --blue-on-background: #26c;

    --green: #4fb061;
    --green-stronger: #1c732d;
    --green-contrast: white;
    --green-stronger-contrast: rgba(252, 252, 252, 1);

    --orange: #e8b838;
    --orange-stronger: #a47e18;
    --orange-contrast: white;

    --red: #800101;
    --red-weaker: #da8383;
    --red-contrast: white;

    --untyped: #eee;
    --untyped-contrast: #1e1e1e;

    --typed: black;
    --typed-contrast: white;

    --incorrect: #d4d4d4;
    --incorrect-contrast: white;
    --incorrect-red: #f7b5b5;
    --incorrect-red-contrast: #d20707;

    --stroke-contrast: #434343;
}

html, button, input, select, textarea {
    color: var(--text);
}

body {
    background-color: var(--background);
}

.only-light {
    display: none;
}

.light {
    .only-dark {
        display: none;
    }

    .only-light {
        display: block;
    }
}
