.wrapper {
    padding: 80px 7px 0;
    width: min(500px, 100%);
    margin: 0 auto;
    text-align: center;
}

body p {
    line-height: 1.4;
}

:root {    
    --text: #222;
    --text-alt: #576b8a;
    --text-weaker: #9b9b9b;
    --background: #fcfcfc;
    --border: #cacaca;

    --flag-shadow: rgba(0, 0, 0, 0.1);

    --green: #4fb061;
    --green-stronger: #1c732d;
    --green-contrast: white;

    --orange: #e8b838;
    --orange-stronger: #a47e18;
    --orange-contrast: white;

    --red: #8f2513;
    --red-weaker: #da8383;
    --red-contrast: white;

    --untyped: #eee;
    --untyped-contrast: #1e1e1e;

    --typed: black;
    --typed-contrast: white;

    --incorrect: #d4d4d4;
    --incorrect-contrast: white;
}

:root.dark {
    --text: #fcfcfc;
    --text-alt: #c2cee1;
    --text-weaker: #8e8e8e;
    --background: #222;
    --border: #555;

    --flag-shadow: rgb(255, 255, 255, 0.1);

    --green: #4fb061;
    --green-stronger: #45d660;
    --green-contrast: white;

    // --orange: #e8b838;
    // --orange-stronger: #a47e18;
    // --orange-contrast: white;

    --red: #da8383;
    --red-weaker: #8f2513;
    --red-contrast: white;

    --untyped: #747474;
    --untyped-contrast: #eee;

    --typed: white;
    --typed-contrast: #222;

    --incorrect: #414141;
    --incorrect-contrast: #6d6d6d;
}

html, button, input, select, textarea {
    color: var(--text);
}

body {
    background-color: var(--background);
}
.only-dark {
    display: none;
}

.dark {
    .only-light {
        display: none;
    }

    .only-dark {
        display: block;
    }
}
