@import './styles/reset.scss';

html {
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo 2', sans-serif;
}

::selection {
    background-color: black;
    color: white;
}