@import './styles/reset.scss';

html {
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo 2', sans-serif;
}

h1,
h2,
h3,
strong {
    font-weight: 600;       
}

h1,
h2,
h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

::selection {
    background-color: black;
    color: white;
}