.word-position-by-popularity {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 70%;
    color: var(--text-alt);

    strong {
        color: var(--text);
    }

    small {
        font-size: 85%;
        color: var(--text-alt);
    }

    svg {
        fill: currentColor;
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        margin-right: 4px;
    }
}