.summary-all {
    color: black;
    fill: currentColor;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-all-langs {
  display: flex;
  gap: 4px;
  
  .summary-all-flag {
      height: 24px;
      width: 24px;
      border-radius: 12px;
      filter: saturate(0.6);
      font-size: 0;
      color: transparent;
      object-fit: cover;
      object-position: center;
      background-color: var(--flag-shadow);
      box-shadow: 0 -1px 4px var(--flag-shadow);
  }
}