.game-update {
    .icon-soon {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        fill: var(--orange);
    }

    strong {
        color: var(--orange-stronger);
    }
}
