.game {
    margin-bottom: calc(var(--keyboard-height) + 10px);
}

.game-loader {
    margin-top: 100px;
    fill: var(--text-weaker);
    width: 96px;
    height: 96px;
    animation: spin infinite linear 1s;
}
